title #{title} - Emergency Social Network
link(type="text/css" rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
link(type="text/css" rel="stylesheet" href="/components/toastr/toastr.min.css")
link(rel='shortcut icon', href='logo.png', type='image/x-icon')

// optimized for mobile
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
